/SingletonLab2/SingletonLab/nbproject/private/
/Chain Of Responsability/ChainOFResponsibility/nbproject/private/
/Chain Of Responsability/ChainOFResponsibility/build/
/Iterator/build/
/Iterator/nbproject/private/
/JavaApplication2/nbproject/private/
/DPTemplete/nbproject/private/
/DPTemplate/nbproject/private/
/Mediator/nbproject/private/
/Mediator/build/
/MidtermLab/nbproject/private/
/MidtermLab/build/
/ProxyPattern/DesignPatterns/nbproject/private/
/ProxyPattern/DesignPatterns/build/
/Flyweight/nbproject/private/
/Bridge/nbproject/private/
/Bridge/build/