/SingletonLab2/SingletonLab/nbproject/private/
/Chain Of Responsability/ChainOFResponsibility/nbproject/private/
/Chain Of Responsability/ChainOFResponsibility/build/
/Iterator/build/
/Iterator/nbproject/private/